@model MyBulkMealsApp.Models.MealPlan

@{
    ViewData["Title"] = "Plan Details";
}

<h1>@Model.PlanName Details</h1>

<hr />
    <input type="hidden" id="recipesList" name="recipesList" />
    <div class="tab-pane fade show active" id="ingredients" role="tabpanel" aria-labelledby="ingredientsTab">
        <div class="row">
            <div class="col-sm-12 col-lg-4">
                <dl class="row">
                    <dd class="pt-1 col-9">Calories</dd>
                    <dt class="mb-2 col-2 nutrition__calories btn btn-outline-info"></dt>
                    <dd class="pt-1 col-9">Protein</dd>
                    <dt class="mb-2 col-2 nutrition__protein btn btn-outline-info"></dt>
                    <dd class="pt-1 col-9">Carbs</dd>
                    <dt class="mb-2 col-2 nutrition__carbs btn btn-outline-info"></dt>
                    <dd class="pt-1 col-9">Fat</dd>
                    <dt class="mb-2 col-2 nutrition__fat btn btn-outline-info"></dt>
                </dl>
            </div>
            <div class="col-sm-12 col-lg-8">

                <h4>Current Recipes:</h4>
                <ol class="plan__recipes list-group mb-3">
                    @foreach (var entry in Model.MealPlanEntries)
                    {
                        <li class="recipe__item list-group-item" data-id="@entry.RecipeId">
                            <div class="input-group row">
                                <a class="col-8" target="_blank" href="@(Url.Action("Details", "Recipes"))/@entry.RecipeId">@entry.Recipe.ItemName</a>
                                <input type="number" readonly class="recipe__item__quantity form-control col-3" value="@entry.Quantity" aria-label="quantity">
                            </div>
                        </li>
                    }
                </ol>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PlanName" class="control-label"></label>
                <input asp-for="PlanName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="MealsPerDay" class="control-label"></label>
                <input asp-for="MealsPerDay" readonly class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="TotalDays" class="control-label"></label>
                <input asp-for="TotalDays" readonly class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="StartDay" class="control-label"></label>
                <select asp-for="StartDay" readonly class="form-control">
                    @for (int i = 0; i < 7; i++)
                    {
                        <option value="@i">@MealPlan.GetDayAsString(i)</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="EndDay" readonly class="control-label"></label>
                <select asp-for="EndDay" readonly class="form-control">
                    @for (int i = 0; i < 7; i++)
                    {
                        <option value="@i">@MealPlan.GetDayAsString(i)</option>
                    }
                </select>
            </div>
            <a asp-action="Index" class="btn btn-lg btn-outline-secondary">Back to List</a>
        </div>
    </div>