@model IEnumerable<MyBulkMealsApp.Models.Ingredient>

@{
    ViewData["Title"] = "Index";
    int itemCount = 0; //TODO: Start with correct number for page
}

<h1>Ingredients</h1>

<ul class="list-inline">
    <li class="list-inline-item">
        <a class="btn btn-outline-info">My Ingredients</a>
    </li>
    <li class="list-inline-item">
        <a class="btn btn-outline-info">Saved Ingredients</a>
    </li>
    <li class="list-inline-item">
        <a class="btn btn-outline-info">Most Viewed</a>
    </li>
    <li class="list-inline-item">
        <a class="btn btn-outline-info">Newest</a>
    </li>
    <li class="list-inline-item">
        <a class="btn btn-outline-info">Random</a>
    </li>
</ul>

<div class="m-4">
    <label for="ingredientSearch">Quick Search by Keyword</label>
    <div class="input-group input-group-lg">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">
                <i class="material-icons">search</i>
            </span>
        </div>
        <input id="ingredientSearch" type="text" class="form-control" aria-describedby="inputGroup-sizing-lg">
        @*<button class="btn btn-primary">GO!</button>*@
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.MeasurementType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaseMeasurement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Protein)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carbs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fat)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    itemCount++;
    
        <tr>
            <td>
                @(itemCount). @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.MeasurementType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaseMeasurement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calories)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Protein)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carbs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fat)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<a class="float-right btn-success btn-lg btn" asp-action="Create">Create New</a>
