@* TODO: Lots of JS for charts could be refactored to be DRY *@

@{
    List<Recipe> unverifiedRecipes = (List<Recipe>)ViewData["UnverifiedRecipes"];
    List<Ingredient> unverifiedIngredients = (List<Ingredient>)ViewData["UnverifiedIngredients"];
    List<Recipe> unverifiedRecipeAmendments = (List<Recipe>)ViewData["UnverifiedRecipeAmendments"];
    List<Ingredient> unverifiedIngredientAmendments = (List<Ingredient>)ViewData["UnverifiedIngredientAmendments"];

    ViewData["Title"] = "Administration";
}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script>
    $(document).ready(function () {

        $("#updateRange").on("click", function () {
            let year = new Date().getFullYear();
            $("#fromDate").val(year + "-01-01");
            $("#toDate").val(year + "-12-31");
            $("#updateCharts").trigger("click");
        });

        $("#updateCharts").on("click", function () {
            let fromDate = $("#fromDate").val() ?? null;
            let toDate = $("#toDate").val() ?? null;

            getVerifiedIngredientsChart(fromDate, toDate);
            getVerifiedRecipesChart(fromDate, toDate);
            getNewRecipesChart(fromDate, toDate);
            getNewIngredientsChart(fromDate, toDate);
        });

        function getVerifiedIngredientsChart(fromDate, toDate) {
            $.ajax({
                url: "GetVerifiedIngredientsChartData",
                data: { fromDate: fromDate, toDate: toDate },
                success: function (ajaxData) {
                    var chartData = {
                        chart: {
                            plotBackgroundColor: null,
                            plotBorderWidth: null,
                            plotShadow: false,
                            type: 'pie'
                        },
                        title: {
                            text: 'Verified Ingredients'
                        },
                        credits: {
                            enabled: false
                        },
                        plotOptions: {
                            pie: {
                                allowPointSelect: true,
                                cursor: 'pointer',
                                dataLabels: {
                                    enabled: true,
                                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                                }
                            }
                        },
                        series: [{
                            name: 'Verification Status',
                            colorByPoint: true,
                            data: ajaxData.map(d => ({
                                name: d["verified"],
                                y: d.count,
                            }))
                        }]
                    };

                    console.log(chartData);
                    Highcharts.chart('chartVerifiedIngredients', chartData);
                },
                error: function (err) {
                    console.log("Failed JS on recipes chart.")
                    console.log(err);
                }
            });
        }


        function getVerifiedRecipesChart(fromDate, toDate) {
            $.ajax({
                url: "GetVerifiedRecipesChartData",
                data: { fromDate: fromDate, toDate: toDate },
                success: function (ajaxData) {
                    console.log(ajaxData);

                    var chartData = {
                        chart: {
                            plotBackgroundColor: null,
                            plotBorderWidth: null,
                            plotShadow: false,
                            type: 'pie'
                        },
                        title: {
                            text: 'Verified Recipes'
                        },
                        credits: {
                            enabled: false
                        },
                        plotOptions: {
                            pie: {
                                allowPointSelect: true,
                                cursor: 'pointer',
                                dataLabels: {
                                    enabled: true,
                                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                                }
                            }
                        },
                        series: [{
                            name: 'Verification Status',
                            colorByPoint: true,
                            data: ajaxData.map(d => ({
                                name: d["verified"],
                                y: d.count,
                            }))
                        }]
                    };

                    console.log(chartData);
                    Highcharts.chart('chartVerifiedRecipes', chartData);
                },
                error: function (err) {
                    console.log("Failed JS on verified recipes chart.")
                    console.log(err);
                }
            });
        }

        function getNewRecipesChart(fromDate, toDate) {
            $.ajax({
                url: "GetNewRecipesChartData",
                data: { fromDate: fromDate, toDate: toDate },
                success: function (data) {
                    console.log(data);

                    var chartData = {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: 'New Recipes'
                        },
                        xAxis: {
                            categories: data.map(d => d["day"])
                        },
                        credits: {
                            enabled: false
                        },
                        series: data.map(d => ({ name: d.day, data: [d.count] })), @* Have to put count in array, thanks highcharts! *@
                    };

                    console.log(chartData);

                    Highcharts.chart('newRecipesChart', chartData);
                },
                error: function (err) {
                    console.log("Failed JS on recipes chart.")
                    console.log(err);
                }
            });
        }

        function getNewIngredientsChart(fromDate, toDate) {
            $.ajax({
                url: "GetNewIngredientsChartData",
                data: { fromDate: fromDate, toDate: toDate },
                success: function (data) {
                    console.log(data);

                    var chartData = {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: 'New Ingredients'
                        },
                        xAxis: {
                            categories: data.map(d => d["day"])
                        },
                        credits: {
                            enabled: false
                        },
                        series: data.map(d => ({ name: d.day, data: [d.count] })),
                    };

                    console.log(chartData);

                    Highcharts.chart('newIngredientsChart', chartData);
                },
                error: function (err) {
                    console.log("Failed JS on Ingredients chart.")
                    console.log(err);
                }
            });
        }


        @* Item Verification *@
        $(".verify__button").on("click", function () {
            let id = parseInt($(this).data("id"));
            let itemType = $(this).data("type");

            $.ajax({
                url: "VerifyItem",
                data: { id: id, itemType: itemType },
                success: function (data) {
                    $(".verify__last-item").text("Verified: " + $(".js__name--" + id).text() + ".");
                    $(".js__li--" + id).remove();

                    if ($(".list__" + itemType).length == 0) {
                        $(".list__" + itemType + "--none").removeClass("d-none");
                    }
                },
                error: function () {
                    $(".verify__last-item").text("Something went wrong. Try again later!");
                }
            });
        });

        @* Instantiate charts with default.  *@
        $("#updateCharts").trigger("click");
    });


</script>

<h1>Administration</h1>
<div class="row">
    <div class="col-lg-8 col-s-12">
        <div class="row">
            <div class="col-6">
                <div class="admin__chart" style="width: 100%;" id="newRecipesChart">New Recipes</div>
            </div>
            <div class="col-6">
                <div class="admin__chart" style="width: 100%;" id="newIngredientsChart">New Ingredients</div>
            </div>
            <div class="col-12">
                <form>
                    <div class="form-group mb-2">
                        <div class="form-group row">
                            <label for="fromDate" class="col-2 col-form-label">From Date</label>
                            <div class="col-10">
                                <input type="date" class="form-control" id="fromDate" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="fromDate" class="col-2 col-form-label">To Date</label>
                            <div class="col-10">
                                <input type="date" class="form-control" id="toDate" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                                <button type="button" id="updateCharts" class="btn btn-primary w-100 mb-1">Update Charts</button>
                            </div>
                            <div class="col-4">
                                <button type="button" id="updateRange" class="btn btn-info w-100 mb-1">Set Range to Current Year</button>
                            </div>
                            <div class="col-4">
                                <label class="col-form-label" for="includeUnverified">Include Unverified Items</label>
                                <input class="form-check" type="checkbox" id="includeUnverified" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-6">
                <div class="admin__chart" id="chartVerifiedRecipes"></div>
                <div class="admin__chart" id="chartVerifiedIngredients"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-s-12">
        <h4>Pending Verifications</h4>
        <span class="verify__last-item"></span>
        <ul class="nav nav-tabs nav-fill" role="tablist">
            <li class="nav-item">
                <a id="recipesTab" class="nav-link active" data-toggle="tab" href="#recipes" role="tab" aria-controls="recipes" aria-selected="true">Recipes</a>
            </li>
            <li class="nav-item">
                <a id="ingredientsTab" class="nav-link" data-toggle="tab" href="#ingredients" role="tab" aria-controls="ingredients" aria-selected="false">Ingredients</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="recipes" role="tabpanel" aria-labelledby="recipesTab">
                <ol class="list-group">
                    @foreach (var r in unverifiedRecipes)
                    {
                        <li class="list-group-item list__recipe js__li--@r.Id">
                            <button type="button" class="btn btn-sm btn-success verify__button float-right" data-type="recipe" data-id="@r.Id">
                                <i class="fa fa-thumbs-up"></i>
                            </button>
                            <span class="js__name--@r.Id">
                                <a href="~/Recipes/Details/@r.Id">
                                    @r.ItemName
                                </a>
                                by @r.CreatorName
                            </span>
                        </li>
                    }
                </ol>
                <div class="@(unverifiedRecipes.Count > 0 ? "d-none " : "")alert alert-success list__recipe--none">All recipes are verified! You're all caught up!</div>
            </div>
            <div class="tab-pane fade" id="ingredients" role="tabpanel" aria-labelledby="ingredientsTab">
                <ol class="list-group">
                    @foreach (var r in unverifiedIngredients)
                    {
                        <li class="list-group-item list__ingredient js__li--@r.Id">
                            <button type="button" class="btn btn-sm btn-success verify__button float-right" data-type="ingredient" data-id="@r.Id">
                                <i class="fa fa-thumbs-up"></i>
                            </button>
                            <span class="js__name--@r.Id">
                                <a href="~/Ingredients/Details/@r.Id">@r.ItemName</a>
                                by @r.CreatorName
                            </span>
                        </li>
                    }
                </ol>
                <div class="@(unverifiedIngredients.Count >  0 ? "d-none " : "")alert alert-success list__ingredient--none">All ingredients are verified! You're all caught up!</div>
            </div>
        </div>

        <h4>Pending Amendments</h4>
        <span class="verify__last-amendment"></span>
        <ul class="nav nav-tabs nav-fill" role="tablist">
            <li class="nav-item">
                <a id="recipesAmendmentTab" class="nav-link active" data-toggle="tab" href="#recipesAmendments" role="tab" aria-controls="recipesAmendments" aria-selected="true">Recipes</a>
            </li>
            <li class="nav-item">
                <a id="ingredientsAmendmentTab" class="nav-link" data-toggle="tab" href="#ingredientsAmendments" role="tab" aria-controls="ingredientsAmendment" aria-selected="false">Ingredients</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="recipesAmendments" role="tabpanel" aria-labelledby="recipesAmendmentTab">
                <ol class="list-group">
                    @foreach (var r in unverifiedRecipeAmendments)
                    {
                        <li class="list-group-item list__recipe js__li--@r.Id">
                            <button type="button" class="btn btn-sm btn-success verify__button float-right" data-type="recipe" data-id="@r.Id">
                                <i class="fa fa-thumbs-up"></i>
                            </button>
                            <span class="js__name--@r.Id">
                                <a href="~/Recipes/Details/@r.Id">
                                    @r.ItemName
                                </a>
                                by @r.CreatorName
                            </span>
                        </li>
                    }
                </ol>
                <div class="@(unverifiedRecipeAmendments.Count >  0 ? "d-none " : "")alert alert-success list__ingredient--none">All ingredient amendments are verified! You're all caught up!</div>
            </div>
            <div class="tab-pane fade" id="ingredientsAmendments" role="tabpanel" aria-labelledby="ingredientsAmendmentTab">
                <ol class="list-group">
                    @foreach (var r in unverifiedIngredientAmendments)
                    {
                        <li class="list-group-item list__ingredient js__li--@r.Id">
                            <button type="button" class="btn btn-sm btn-success verify__button float-right" data-type="ingredient" data-id="@r.Id">
                                <i class="fa fa-thumbs-up"></i>
                            </button>
                            <span class="js__name--@r.Id">
                                <a href="~/Ingredients/Details/@r.Id">@r.ItemName</a>
                                by @r.CreatorName
                            </span>
                        </li>
                    }
                </ol>
                <div class="@(unverifiedIngredientAmendments.Count > 0 ? "d-none " : "")alert alert-success list__recipe--none">All recipe amendments are verified! You're all caught up!</div>
            </div>
        </div>
    </div>
</div>
