@model MyBulkMealsApp.Models.Recipe

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="item-page__details">

    <h1>
        Editing: @Html.DisplayFor(model => model.ItemName)
    </h1>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class="col-sm-2">
            <label asp-for="Time" class="d-none" />
            <input asp-for="Time" class="form-control" />
            <span asp-validation-for="Time" class="text-danger"></span>
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredients)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => (model.Ingredients != null ? model.Ingredients.Count : 0))
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BaseServings)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.BaseServings)
            <div class="recipe__servings">
                <button aria-label="Reduce Servings"><</button>
                <button aria-label="Increase Servings">></button>
            </div>
        </dd>
    </dl>

    <ul class="nav nav-tabs" id="recipeTabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="homeTab" data-toggle="tab" href="#ingredients" role="tab" aria-controls="home" aria-selected="true">Ingredients</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="stepsTab" data-toggle="tab" href="#steps" role="tab" aria-controls="profile" aria-selected="false">Steps</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="nutritionTab" data-toggle="tab" href="#nutrition" role="tab" aria-controls="contact" aria-selected="false">Nutrition</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="editTab" data-toggle="tab" role="button">Copy and Edit</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="ingredients" role="tabpanel" aria-labelledby="ingredientsTab">
            Ingredients list
        </div>
        <div class="tab-pane fade" id="steps" role="tabpanel" aria-labelledby="stepsTab">
            <div class="form-group">
                <label asp-for="@Model.BaseServings" ></label>
                <textarea asp-for="@Model.Instructions" class="form-control" rows="24" cols="240"></textarea>
            </div>
        </div>
        <div class="tab-pane fade" id="nutrition" role="tabpanel" aria-labelledby="nutritionTab">
            <dl class="list-unstyled">
                <dd>Calories</dd>
                <dt></dt>
                <dd>Protein</dd>
                <dt></dt>
                <dd>Carbs</dd>
                <dt></dt>
                <dd>Fat</dd>
                <dt></dt>
            </dl>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</div>








<h1>Create</h1>

<h4>Recipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BaseServings" class="control-label"></label>
                <input asp-for="BaseServings" class="form-control" />
                <span asp-validation-for="BaseServings" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instructions" class="control-label"></label>
                <input asp-for="Instructions" class="form-control" />
                <span asp-validation-for="Instructions" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Views" class="control-label"></label>
                <input asp-for="Views" class="form-control" />
                <span asp-validation-for="Views" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CreatorId" class="control-label"></label>
                <input asp-for="CreatorId" class="form-control" />
                <span asp-validation-for="CreatorId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsVerified" /> @Html.DisplayNameFor(model => model.IsVerified)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPublic" /> @Html.DisplayNameFor(model => model.IsPublic)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAmendment" /> @Html.DisplayNameFor(model => model.IsAmendment)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

