@model MyBulkMealsApp.Models.Recipe

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var ingredientsCount = Model.Ingredients != null ? Model.Ingredients.Count : 0;
}

<div class="item-page__details">

    <h1>@Html.DisplayFor(model => model.ItemName)
        @if (Model.IsAmendment)
        {
            <span>(Amendment)</span>
        }
        @if (Model.IsVerified)
        {
            <i class="fa fa-check-circle"></i>
        }
    </h1>
    <h2>Author: @Model.Creator.FullName </h2>
    <span class="font-italic">
        Viewed @Html.DisplayFor(model => model.Views) times.
    </span>


    @if (Model.ImageUrl != null)
    {
        <div class="recipe__splash">
            <img src="@Model.ImageUrl" alt="@Model.ItemName Image" />
        </div>
    }

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredients)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => ingredientsCount)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BaseServings)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.BaseServings)
            <div class="recipe__servings">
                <button aria-label="Reduce Servings"><</button>
                <button aria-label="Increase Servings">></button>
            </div>
        </dd>
    </dl>

    <ul class="nav nav-tabs" id="recipeTabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="homeTab" data-toggle="tab" href="#ingredients" role="tab" aria-controls="home" aria-selected="true">Ingredients</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="stepsTab" data-toggle="tab" href="#steps" role="tab" aria-controls="profile" aria-selected="false">Steps</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="nutritionTab" data-toggle="tab" href="#nutrition" role="tab" aria-controls="contact" aria-selected="false">Nutrition</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="editTab" data-toggle="tab" role="button" >Copy and Edit</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="ingredients" role="tabpanel" aria-labelledby="ingredientsTab">
            Ingredients list
        </div>
        <div class="tab-pane fade" id="steps" role="tabpanel" aria-labelledby="stepsTab">
            @Model.Instructions
        </div>
        <div class="tab-pane fade" id="nutrition" role="tabpanel" aria-labelledby="nutritionTab">
            <dl class="list-unstyled">
                <dd>Calories</dd>
                <dt>@Model.TotalCalories</dt>
                <dd>Protein</dd>
                <dt>@Model.TotalProtein</dt>
                <dd>Carbs</dd>
                <dt>@Model.TotalCarbs</dt>
                <dd>Fat</dd>
                <dt>@Model.TotalFat</dt>
            </dl>
        </div>
    </div>

    <div> 
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>

</div>