@model MyBulkMealsApp.Models.Recipe

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var ingredientsCount = Model.Ingredients != null ? Model.Ingredients.Count : 0;
}

 
<div class="item-page__details">
    <h1>
        @Model.ItemName
    </h1>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class="col-sm-2">
            <input asp-for="Time" class="form-control" readonly />
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredients)
        </dt>
        <dd class="col-sm-2 recipe__ingredients-count">
            @ingredientsCount
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BaseServings)
        </dt>
        <dd class="col-sm-2">
            <input class="recipe__servings__value form-text" readonly min="0" asp-for="BaseServings" />
            <div class="recipe__servings">
                <button type="button" class="btn btn-sm btn-info recipe__servings--down" aria-label="Reduce Servings"><</button>
                <button type="button" class="btn btn-sm btn-info recipe__servings--up" aria-label="Increase Servings">></button>
            </div>
        </dd>
    </dl>

    <ul class="nav nav-tabs" id="recipeTabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="homeTab" data-toggle="tab" href="#ingredients" role="tab" aria-controls="home" aria-selected="true">Ingredients</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="stepsTab" data-toggle="tab" href="#steps" role="tab" aria-controls="profile" aria-selected="false">Steps</a>
        </li>
    </ul>
    <div class="tab-content pt-4">
        <div class="tab-pane fade show active" id="ingredients" role="tabpanel" aria-labelledby="ingredientsTab">
            <div class="row">
                <div class="col-sm-12 col-lg-4">
                    <dl class="row">
                        <dd class="pt-1 col-9">Calories</dd>
                        <dt class="mb-2 col-2 nutrition__calories btn btn-outline-info">@Model.TotalCalories</dt>
                        <dd class="pt-1 col-9">Protein</dd>
                        <dt class="mb-2 col-2 nutrition__protein btn btn-outline-info">@Model.TotalProtein</dt>
                        <dd class="pt-1 col-9">Carbs</dd>
                        <dt class="mb-2 col-2 nutrition__carbs btn btn-outline-info">@Model.TotalCarbs</dt>
                        <dd class="pt-1 col-9">Fat</dd>
                        <dt class="mb-2 col-2 nutrition__fat btn btn-outline-info">@Model.TotalFat</dt>
                    </dl>
                </div>
                <div class="col-sm-12 col-lg-8">

                    <h4>Current Ingredients:</h4>
                    <ol class="recipe__ingredients list-group mb-3">
                        @foreach (var ingredient in Model.Ingredients)
                        {
                            <li class="ingredient__item list-group-item" data-id="@ingredient.Id">
                                <div class="input-group row">
                                    <a class="col-4" target="_blank" href="~/Ingredients/@ingredient.Id">@ingredient.Ingredient.ItemName</a>
                                    <input type="number" readonly class="ingredient__item__quantity form-control col-7" value="@ingredient.MeasurementAmount" aria-label="quantity">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2">@ingredient.Ingredient.Measurement.Symbol</span>
                                    </div>
                                </div>
                            </li>
                        }
                    </ol>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="steps" role="tabpanel" aria-labelledby="stepsTab">
            <div class="form-group">
                <label asp-for="@Model.Instructions"></label>
                <textarea readonly asp-for="@Model.Instructions" class="form-control" rows="24" cols="160"></textarea>
            </div>
        </div>
    </div>

    <button type="button" class="recipe__submit btn btn-lg btn-success" asp-action="Details" asp-route-id="@Model.Id">Edit Recipe</button>
    <a asp-action="Index" class="btn btn-lg btn-outline-secondary">Back to List</a>
</div>